<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boston Housing</title>
</head>

<body>
    <h1>Boston Housing Prediction</h1>
    <ul>
        <li>RM: Average Number of Rooms per Dwelling</li>
        <li>LSTAT: Percentage of Lower Status Population</li>
        <li>PTRATIO: Pupil-Teacher Ratio</li>
        <li>MEDV: Median Value of Owner-Occupied Homes</li>
    </ul>
    <h2>Prediction</h2>
    <form action="/...." method=".....">
        <label for="RM">RM:</label>
        <input type="number" name="....." step="any" required>
        <br>
        <label for="LSTAT">LSTAT</label>
        <input type="number" name="....." step="any" required>
        <br>
        <label for="PTRATIO">PTRATIO</label>
        <input type="number" name="....." step="any" required>
        <br>
        <button type="submit">Predict MEDV</button>
    </form>
</body>

</html>